<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>

<div class="row app-header main-header grey lighten-5">
  <h5 class="left main-header-title"> Subscriptions</h5>
  <div class="right" (click)="openModalAdd()">
    <i class="material-icons">add_circle_outline</i>
    <h5 class="right main-header-heading">Add New</h5>
  </div>
</div>

<div>
  <div class="row main-content main-card">
    <div *ngFor="let plan of plans" class="main-card-box">
      <div class="card">
        <div class="card-image" (click)="openModalEdit()">
          <img src="{{plan.subscription_thumb}}" class="main-card-image">
        </div>
        <div class="card-content blue-grey darken-3 main-card-content">
          <p class="main-card-title" (click)="openModalEdit()">{{plan.subscription_title}}</p>
          <p class="main-card-links">
            <a class="modal-trigger grey-text lighten-4" (click)="openModalEdit(plan)">Edit</a>
            <a class="right grey-text lighten-4" (click)="deleteSubscription(plan)">Delete</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add modal-->
<div id="modalAddSub" class="modal grey lighten-2 modal-container" materialize="modal"
     [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActionsAdd">
  <form (submit)="addSubscription(addPlanForm)" novalidate #addPlanForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button"
           (click)="closeModalAdd(addPlanForm)"><i
          class="material-icons">close</i></a>
        <h5 class="center-align">New Subscription</h5>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="subThumbUpload($event, false)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate left" type="text" placeholder="Add Logo" name="thumb"
                   [(ngModel)]="addPlan.subscription_thumb">
          </div>
        </div>
        <div class="input-div">
          <input type="text" class="input-field" name="subName" placeholder="Name" required
                 [(ngModel)]="addPlan.subscription_title" #title="ngModel">
          <p *ngIf="title.touched && title.invalid">Required</p>
        </div>
        <div class="input-div">
          <input type="number" min="0" pattern="^[1-9][0-9]*$" class="input-field" name="duration"
                 placeholder="Duration in days" required
                 [(ngModel)]="addPlan.subscription_duration" #duration="ngModel">
          <p *ngIf="duration.touched && duration.invalid || duration.value<0">Invalid duration</p>
        </div>
        <div class="input-div row" style="margin-bottom: 0px; margin-top: 30px;padding-left: 20px; font-size: 12px">
          Price
        </div>
        <div class="input-div row ">
          <div class="left col s6">
            <input type="number" class="input-field" name="price" placeholder="Amount in ugx"
                   [disabled]="freeSubscription" required #price1="ngModel"
                   [(ngModel)]="addPlan.subscription_amount">
            <p *ngIf="price1.touched && price1.invalid || price1.value<0">Invalid price</p>
          </div>
          <div class="right row col s6">
            <span class="col s3 offset-s3" style="font-size: 12px">Free</span>
            <p class="col s5 push-s1">
              <input type="checkbox" name="freeSubscription" id="freeSubscription" [(ngModel)]="freeSubscription"
                     (change)="checkFreeAdd()">
              <label for="freeSubscription"></label>
            </p>
          </div>
        </div>
        <div class="center-align">
          <button type="submit" class="btn light-blue darken-1 modal-button"
                  [disabled]="addPlanForm.invalid || loading">Add
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


<!--Edit modal-->
<div id="modalEditSub" class="modal grey lighten-2 modal-container" materialize="modal"
     [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsEdit">
  <form (submit)="updateSubscription(editPlanForm)" novalidate #editPlanForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button"
           (click)="closeModalEdit(editPlanForm)"><i
          class="material-icons">close</i></a>
        <h5 class="center-align">Edit Subscription</h5>
        <div class="file-field input-field">
          <div class="btn btn-flat right">
            <span><i class="material-icons">file_upload</i> </span>
            <input type="file" (change)="subThumbUpload($event, true)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate left" type="text" placeholder="Add Logo" name="ethumb"
                   [(ngModel)]="editPlan.subscription_thumb">
          </div>
        </div>
        <div class="input-div">
          <input type="text" class="input-field" name="subName" placeholder="Name" required
                 [(ngModel)]="editPlan.subscription_title" #etitle="ngModel">
          <p *ngIf="etitle.touched && etitle.invalid">Required</p>
        </div>
        <div class="input-div">
          <input type="number" min="0" pattern="^[1-9][0-9]*$" class="input-field" name="duration"
                 placeholder="Duration in days" required
                 [(ngModel)]="editPlan.subscription_duration" #eduration="ngModel">
          <p *ngIf="eduration.touched && eduration.invalid || eduration.value<0">Invalid duration</p>
        </div>
        <div class="input-div row" style="margin-bottom: 0px; margin-top: 30px;padding-left: 20px;font-size: 12px">
          Price
        </div>
        <div class="input-div row ">
          <div class="left col s6">
            <input type="number" class="input-field" name="price" placeholder="Amount in ugx"
                   [disabled]="freeSubscription" #price2="ngModel" required
                   [(ngModel)]="editPlan.subscription_amount">
            <p *ngIf="price2.touched && price2.invalid || price2.value<0">Invalid price</p>
          </div>
          <div class="right row col s6">
            <span class="col s3 offset-s3" style="font-size: 12px">Free</span>
            <p class="col s5 push-s1">
              <input type="checkbox" name="freeSubscription2" id="freeSubscription2" [(ngModel)]="freeSubscription"
                     (change)="checkFreeEdit()">
              <label for="freeSubscription2"></label>
            </p>
          </div>
        </div>
        <div class="center-align">
          <button type="submit" class="btn light-blue darken-1 modal-button"
                  [disabled]="editPlanForm.invalid || loading">Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
