<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>
<div>
  <div class="row app-header main-header grey lighten-5">
    <h5 class="left  main-header-title">Topics</h5>
    <div class="right" (click)="openModal()">
      <i class="material-icons">add_circle_outline</i>
      <h5 class="right modal-trigger main-header-heading">Add Topic</h5>
    </div>
  </div>

  <div class="row main-content main-card">
    <div *ngFor="let topic of topics" class="main-card-box">
      <div class="card">
        <div class="card-image" (click)="onSelect(topic)">
          <img src="" class="main-card-image">
        </div>
        <div class="card-content blue-grey darken-3 main-card-content">
          <p class="main-card-title" (click)="onSelect(topic)">{{topic?.topic_name}}</p>
          <p class="main-card-links">
            <a class="modal-trigger grey-text lighten-4" (click)="openModalEdit(topic)">Edit</a>
            <a class="right grey-text lighten-4" (click)="deleteTopic(topic)">Delete</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modalAddTopic" class="modal grey lighten-2" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActions" style="overflow: visible; min-width:400px !important;">
  <form (submit)="addTopic(addForm)" novalidate #addForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button" (click)="closeModal(addForm)"><i
          class="material-icons">close</i></a>
        <h5 class="center-align">Add Topic</h5>
        <input type="text" class="input-field" name="topic_name" placeholder="Topic Name"
               [(ngModel)]="newTopic.topic_name" required #topicName="ngModel">
        <p><span *ngIf="topicName.touched && topicName.invalid">Required!</span>&nbsp;</p>
        <label>Term It Belongs to</label>
        <select class="browser-default" [(ngModel)]="newTopic.topic_term" name="term_number" id="term_number"
                materialize="material_select"
                [materializeSelectOptions]="selectOptions" required #topicTerm="ngModel">
          <option *ngFor="let term of totalTerms; let i = index" [value]="i+1">Term {{i + 1}}</option>
        </select>
        <p><span *ngIf="topicTerm.touched && topicTerm.invalid">Required!</span></p>
        <div class="center-align">
          <button type="submit" class="btn center-align light-blue darken-1 modal-button modal-close"
                  [disabled]="addForm.invalid || loading">Add topic
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="modalEditTopic" class="modal grey lighten-2" materialize="modal" [materializeParams]="[{dismissible: false}]"
     [materializeActions]="modalActionsEdit"
     style="overflow: visible; min-width:400px !important">
  <form (submit)="updateTopic(editForm)" novalidate #editForm="ngForm">
    <div class="modal-content modal-content-container" style="padding: 25px 0 !important;">
      <div class="lib-modal-scroll lib-form">
        <a class="btn-floating btn-large waves-effect waves-light modal-close-button"
           (click)="closeModalEdit(editForm)"> <i class="material-icons">close</i></a>
        <h5 class="center-align">Edit Topic</h5>
        <input type="text" class="input-field" name="topic_name" placeholder="Topic Name"
               [(ngModel)]="editTopic.topic_name" required #topicNameEdit="ngModel">
        <p style="font-size:14px;" class="red-text">
          <span *ngIf="topicNameEdit.touched && topicNameEdit.invalid">Required!</span>&nbsp;
        </p>
        <label>Term It Belongs to</label>
        <select class="browser-default" [(ngModel)]="editTopic.topic_term" name="term_number" id="term_num"
                materialize="material_select" [materializeSelectOptions]="selectOptions" required #editTerm="ngModel">
          <option *ngFor="let term of totalTerms; let i = index" [value]="i+1">Term {{i + 1}}</option>
        </select>
        <p><span *ngIf="topicTerm.touched && topicTerm.invalid">Required!</span></p>
        <div class="center-align">
          <button type="submit" class="btn center-align light-blue darken-1 modal-button modal-close"
                  [disabled]="editForm.invalid || loading">Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
