<div class="progress" *ngIf="loading" style="position: absolute; left: 0px; z-index: 11">
  <div class="indeterminate"></div>
</div>

<div class="row app-header main-header grey lighten-5">
  <h5 class="left main-header-title">Lesson</h5>
</div>

<div class="row main-content" style="margin-bottom: 10px">
  <div class="row">
    <div class="col s6">
      <div class="input-field">
        <input #lessonTitleField type="text" placeholder="Lesson Name" name="lesson_title"
               [(ngModel)]="lesson_title" required>
      </div>
    </div>
    <div class="col s6">
      <div class="file-field input-field">
        <div class="btn btn-flat right">
          <span><i class="material-icons">file_upload</i> </span>
          <input type="file" (change)="lessonIconUpload($event)">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Lesson Icon" name="lesson_icon"
                 [(ngModel)]="lesson_icon">
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let section of lsections; let i = index;">
    <div class="row">
      <div class="col s4">
        <video controls="controls" preload="metadata" style="max-height: 150px"
               webkit-playsinline="webkit-playsinline" class="videoPlayer full-width" id="video">
          <source src="{{this.lsections[i].mediaURI}}" type="video/mp4"/>
        </video>
      </div>
      <div class="col s6 right">
        <div class="row">
          <!--<div class="col">-->
          <div class="transparent" style="padding: 0px">
            <div class="file-field input-field">
              <div class="btn btn-flat right">
                <span><i class="material-icons">file_upload</i> </span>
                <input type="file" (change)="uploadMedia($event, i)">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload Media" name="lesson_media"
                       [(ngModel)]="this.lsections[i].mediaURI">
              </div>
            </div>
          </div>
          <!--</div>-->
          <!--<div class="col">-->
          <div class="file-field input-field">
            <div class="btn btn-flat right">
              <span><i class="material-icons">file_upload</i> </span>
              <input type="file" (change)="attachImage($event, i)">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Attach Image" name="lesson_photo"
                     [(ngModel)]="this.lsections[i].imageURI">
            </div>
          </div>
          <!--</div>-->
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
      <div class="input-field col s12">
            <textarea class="materialize-textarea" [(ngModel)]="this.lsections[i].section_description"
                      style="max-height: 200px"></textarea>
        <label>Content</label>
      </div>
    </div>
    <hr style="border: solid 1px black;margin-top: 0px">
  </div>

  <div class="right" style="cursor: pointer; padding-right: 40px; color: #28397E" (click)="addNewSection()">
    <i class="material-icons" style="font-size: 45px; color: #28397E">add_circle_outline</i>
    <h5 class="right">Add Section</h5>
  </div>
</div>
<div style="width: 300px; margin:auto; position: static">
  <button class="waves-effect waves-light btn-large darken-1 light-blue white-text"
          style="font-size: 20px; width: 300px;" (click)="saveSections()" [disabled]="loading || !lesson_title">
    Save
  </button>
</div>
