.main-content .col .card.fix-card .card-action a{
  text-transform: capitalize !important;
  margin-right: 0px;
  color: white;
}
.video-container{
  height: 170px;
  width: 300px;
  overflow: hidden;
  background-color: gainsboro;
  padding: 5%;
}
.save-button{
  position: fixed;
  bottom: 0rem;
  left: 11rem;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #9e9e9e;
}
