.main-content .col .card .card-action a{
  margin-right: 0px;
}
.modal{
  width: 30%;
}
.main-content .col .card.fix-card .card-action a{
  text-transform: capitalize !important;
  margin-right: 0px;
  color: white;
}
