input.ng-dirty.ng-invalid {border: solid red 2px;}
input.ng-dirty.ng-valid {border: solid green 2px;}

.card {
  height: auto;
  min-width: 380px;
  min-height: 420px;
}
.card .my-lib{
  background-color: #28397E;
  height: 5em;
  padding: 5px;
  color: white;
  margin-bottom: 0px;
}
.card .my-login{
  padding: 20px 40px 40px 40px;
  background-color: #e0e0e0;
  margin-bottom: 0px;
}
.card .my-login-action{
  background-color: white;
  height: auto;
  padding: 22px
}
.card .row a{
  padding: 0 0.75em;
}
.card .my-login-action .my-login-button{
  background-color: #28397E;
  width: 100%;
}
